.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container.MuiContainer-root {
    background: #fff;
    height: 100vh;
    padding: 0;
}

.header {
    background: #fff;
}

.header-name {
    color: #595959;
    font-size: 16px;
    font-weight: normal;
    margin: 0;

}

.box,
.route-view {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;
    background: #fff;
    overflow: hidden;
}

.route-view {
    top: 0;
}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.slide-fade-enter {
    background: #000;
    transition: all .3s ease;
    transform: translateX(100%);
}

.slide-fade-enter-active {

    transform: translateX(0);
    transition: all .3s ease;
}

.slide-fade-exit {

    transform: translateX(0);
    transition: all .3s ease;
}

.slide-fade-exit-active {

    transform: translateX(100%);
    transition: all .3s ease;
}

img {
    width: 100%;
}

.router-box {
    background: #ABCDEF;
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
}