.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container.MuiContainer-root {
    background: #fff;
    height: 100vh;
    padding: 0;
}

.header {
    background: #abcdef;
}

.home {
    background: #11aaff;
}

.page {
    background: #fedcba;
}

.page-child {
    background: #abcdef;
}

.header-name {
    color: #595959;
    font-size: 16px;
    font-weight: normal;
    margin: 0;

}

.box,
.route-view {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;

    overflow: hidden;
}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

/* ------- .slide-in ------- */
.slide-in-enter {
    opacity: 0;
    transform: translateX(100%);
    transition: all .4s;
}

.slide-in-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s;
}

.slide-in-exit {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s;
}

.slide-in-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .4s;
}

/* --------------------- */
.slide-back-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .4s;
}

.slide-back-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all .4s;
}

.slide-back-exit {
    opacity: 1;
    transform: translateX(0%);
    transition: all .4s;
}

.slide-back-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all .4s;
}

/* --------------------- */
img {
    width: 100%;
}

.router-box {
    background: #ABCDEF;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.example-div {
    background: #abadfe;
}

/**/

.container {
    position: relative;

}

.example-page {
    position: absolute;
    left: 15px;
    right: 15px;
    background: #a1b2c3;
}

.page-enter {
    transform: translateX(100%);
}

.page-enter-active {
    transform: translateX(0%);
    transition: all 300ms, transform 300ms;
}

.page-exit {
    transform: translateX(0%);
}

.page-exit-active {
    transform: translateX(100%);
    transition: all 300ms, transform 300ms;
}

.home-view-style{
    padding:20px;
    font-size: 20px;
    color:#fff;
}